<mat-toolbar class="info-section">
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="2">
      <div class="section-container">
        <img class="pdn-img" src="assets/pdn-white.png" alt="PDN" />
        <label class="pdn-text">Órgano Interno de Control</label>
        <br /><br />
        <label class="ida-text">Inteligencia de Datos Anticorrupción</label>
        <img class="libre-uso-img" src="assets/libre-uso-mx-white.png" alt="Libre Uso MX" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section">
        <p class="primary-text">OIC</p>
        <a
          class="menu-button"
          mat-button
          href="https://cedhsinaloa.org.mx/declaraciones-patrimoniales/lineamientos-de-llenado-declaracion-patrimonial-2024?layout=file"
          target="_blank"
          >Lineamiento para el llenado de declaraciones</a
        >
        <a class="menu-button" mat-button href="https://cedhsinaloa.org.mx/linea-etica-de-denuncia/" target="_blank"
          >Presenta tu denuncia</a
        >
        <a class="menu-button" mat-button href="https://cedhsinaloa.org.mx/oic-normativa-interna/" target="_blank"
          >Normativa interna</a
        >
        <a class="menu-button" mat-button href="https://cedhsinaloa.org.mx/declaraciones-patrimoniales/" target="_blank"
          >Declaraciones Patrimoniales</a
        >
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div class="section-container links-section">
        <p class="primary-text">CEDH</p>
        <a
          class="menu-button"
          mat-button
          href="https://cedhsinaloa.org.mx/~documents/normativa-interna/cdigo-de-tica-de-la-comisin-estatal-de-los-derechos-humanos?layout=file/"
          target="_blank"
          >Código de Ética</a
        >
        <a
          class="menu-button"
          mat-button
          href="https://cedhsinaloa.org.mx/~documents/normativa-interna/cdigo-de-conducta-de-la-comisin-estatal-de-los-derechos-humanos-1?layout=file"
          target="_blank"
          >Código de Conducta</a
        >
        <a
          class="menu-button"
          mat-button
          href="https://cedhsinaloa.org.mx/~documents/normativa-interna/lineamientos-generales-que-propician-la-integridad-y-el-comportamiento-etico-de-quienes-prestan-sus-servicios-en-la-cedh-en-el-desempeno-de-sus-empleos-cargos-o-comisiones?layout=file"
          target="_blank"
          >Lineamientos Generales</a
        >
        <a
          class="menu-button"
          mat-button
          href="https://cedhsinaloa.org.mx/~documents/oic-normativa-interna/plan-estratgico-2025-2029?layout=file"
          target="_blank"
          >Plan Estratégico del OIC 2025-2029</a
        >
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
<mat-toolbar class="sna">
  <img src="assets/bid.png" alt="BID" />
  <img src="assets/sna.png" alt="SNA" />
  <img src="assets/sertech.png" alt="Sertech" />
</mat-toolbar>
